* {
  font-size: 20px;
  font-family: monospace;
}

window#waybar {
  background: transparent;
  color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#tray {
  background: rgba(10, 10, 10, 0.5);
  padding-top: 6px;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.active {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#workspaces:last-child {
  border-radius: 0 15px 15px 0;
}

#clock.1 {
  border-radius: 15px 0 0 15px;
}

#clock.3 {
  border-radius: 0 15px 15px 0;
}

#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#tray {
  border-radius: 15px;
  margin: 0 4px;
}

#pulseaudio {
  padding-top: 0;
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#temperature {
  color: #dd3333;
}
#network {
  padding-top: 0;
}
#battery {
  padding-top: 4px;
  color: #859900;
}
#tray {
  padding-top: 0;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}
